doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title StudIS
        // Font Awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // Bootstrap core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='../stylesheets/mdb.min.css', rel='stylesheet')
        // Your custom styles (optional)
        link(href='../stylesheets/style.css', rel='stylesheet')
        // Font awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='../stylesheets/personal.css', rel='stylesheet')
    body
        // Main Navigation
        header
            nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.red.scrolling-navbar
                a.navbar-brand(href='')
                    strong StudIS
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.nav.navbar-nav.nav-flex-icons.ml-auto
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                if(type == 'student')
                                    i.fa.fa-user=" "+student.name+" "+student.surname+" ("+student.registration_number+")"
                                else
                                    i.fa.fa-user=" "+email
                            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                                a.dropdown-item(href='#') Uredi podatke
                                a.dropdown-item(href='#') Poveži digitalno potrdilo
                                // <a class="dropdown-item" href="#">English</a>
                                a.dropdown-item(href='/logout') Odjava
        // Main Navigation
        .wrapper
            .container
                .row.mt-5.pt-5
                        .col-4
                            #available-courses.list-group(role='tablist')
                                if(student.year != 1)
                                    h2 Na voljo
                                    each untakens in untaken
                                        a.selected.list-group-item.list-group-item-action.course-item(id=untakens.key class=untakens.type==2?'type-two':'' data-module=untakens.module data-kt=untakens.credits data-type=untakens.type)=untakens.name
                        .col-4
                            #selected-courses.list-group(role='tablist')
                                h2 Izbrani 
                                    span#ktValue=0
                                each selecteds in selected
                                    a.selected.list-group-item.list-group-item-action.course-item(id=selecteds.key data-kt=selecteds.credits data-type=selecteds.type class=selecteds.type==0?'type-zero':'')=selecteds.name
                        .col-4
                            form(action="/enrol/store" method="post")
                                input(type='text' name="selected")#selected-input
                                button.btn-primary.btn#submitButton(type="submit" disabled=true) Oddaj vpis
                            if(student.year != 1)
                                .alert.alert-primary#kt-limit(role='alert') Vaš predmetnik mora vsebovati 60 kreditnih.
                            if(student.year == 2)
                                .alert.alert-primary#kt-limit(role='alert') Vaš predmetnik mora vsebovati vsaj en strokovni predmet.
                            if(student.year == 3)
                                .alert.alert-primary#kt-limit(role='alert') Vaš predmetnik mora vsebovati dva modula in en izbirni predmet.
        // SCRIPTS
        // JQuery
        script(type='text/javascript', src='../js/jquery-3.2.1.min.js')
        // for generating export tables csv, pdf
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js")
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.min.js")
        script(type='text/javascript', src='../js/personal/table2pdf.js')
        script(type='text/javascript', src='../js/table2csv.js')
        // Bootstrap tooltips
        script(type='text/javascript', src='../js/popper.min.js')
        // Bootstrap core JavaScript
        script(type='text/javascript', src='../js/bootstrap.min.js')
        // MDB core JavaScript
        script(type='text/javascript', src='../js/mdb.min.js')
        //courses
        script(type='text/javascript', src='../js/enrol/courses.js')
