doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title StudIS
        // Font Awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // Bootstrap core CSS
        link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='../stylesheets/mdb.min.css', rel='stylesheet')
        // Your custom styles (optional)
        link(href='../stylesheets/style.css', rel='stylesheet')
        // Font awesome
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='../stylesheets/personal.css', rel='stylesheet')
    body
        // Main Navigation
        header
            nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.red.scrolling-navbar
                a.navbar-brand(href='')
                    strong StudIS
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.nav.navbar-nav.nav-flex-icons.ml-auto
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                if(type == 'student')
                                    i.fa.fa-user=" "+student.name+" "+student.surname+" ("+student.registration_number+")"
                                else
                                    i.fa.fa-user=" "+email
                            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                                a.dropdown-item(href='#') Uredi podatke
                                a.dropdown-item(href='#') Poveži digitalno potrdilo
                                // <a class="dropdown-item" href="#">English</a>
                                a.dropdown-item(href='/logout') Odjava
        // Main Navigation
        .wrapper
            .container
                .row.mt-5.pt-5
                    .alert.alert-primary(role='alert')
                        | Izpoljujete pogoje za vpis.
                        a.alert-link(href='#') Vpišite se tukaj.
                    .container
                        if type == 'professor' || type == 'clerk'
                                .input-group
                                    input.form-control(type="text" placeholder="Search for..." aria-label="Search for...")#searchField
                                    span.input-group-btn
                                        button.btn.btn-secondary(type="button")#searchButton Go!
                                    .search-panel(style="display:none")#searchPanel
                                        .close-button#closeSearchButton='x'
                                        button.btn.btn-sm.btn-default(onclick="$('#tableSearch').table2csv('students');") Export CSV
                                        button.btn.btn-sm.btn-default(onclick="$('#tableSearch').table2pdf('students');") Export PDF
                                        // Table
                                        table#tableSearch.table.table-sm
                                            // Table head
                                            thead
                                                tr
                                                    th Ime
                                                    th Priimek
                                                    th Vpisna števlka
                                            tbody#searchTable
                                                tr.table-item
                                                    td Mark
                                                    td Otto
                                                    td @mdo

                        if(student.name)
                            form(method="post" action='/enrol').form-horizontal
                                fieldset
                                    h2 Osebni podatki študenta
                                    div
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticRegNumber") Vpisna številka
                                            .col-sm-10
                                                input#staticRegNumber.form-control(type="text"  readonly="" value=student.registration_number)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticSurname") Priimek
                                            .col-sm-10
                                                input#staticSurname.form-control(type="text"  value=student.surname)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticName") Ime
                                            .col-sm-10
                                                input#staticName.form-control(type="text"  value=student.name)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticBirth") Datum rojstva
                                            .col-sm-10
                                                input#staticBirth.form-control(type="text"  value=student.birth pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" required  oninput="form.emso.pattern = getEmsoRegex(this.value)") 
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticEMSO") EMŠO
                                            .col-sm-10
                                                input#staticEMSO.form-control(type="text"  value=student.emso name='emso') 
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticEmail") Email
                                            .col-sm-10
                                                input#staticEmail.form-control(type="text"  readonly="" value=student.email)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticPhone") Telefonska številka
                                            .col-sm-10
                                                input#staticPhone.form-control(type="text"  value=student.telephone_number)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticCountry") Država
                                            .col-sm-10
                                                select.form-control()
                                                    each c in country
                                                        option(value=c.name_slo selected=c.name_slo==student.country)=c.name_slo
                                                //input#staticCountry.form-control(type="text"  value=student.country)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticStreet") Ulica
                                            .col-sm-10
                                                input#staticStreet.form-control(type="text"  value=student.street)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticPost") Pošta
                                            .col-sm-10
                                                select.form-control()
                                                    each p in post
                                                        option(value=p.number selected=p.number==student.post_office_number)=p.name
                                                //input#staticPost.form-control(type="text"  value=student.post_office_number)
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="staticCounty") Občina
                                            .col-sm-10
                                                select.form-control()
                                                    each c in county
                                                        option(value=c.name selected=c.name==student.county)=c.name
                                                //input#staticCounty.form-control(type="text"  value=student.county)
                                    h2 Podatki o vpisu
                                        div
                                            .form-group.row
                                                label.col-sm-2.col-form-label(for="staticStudyProgramme") Študijski program
                                                .col-sm-10
                                                    input#staticStudyProgramme.form-control(type="text"  readonly="" value="token.studyProgramme")
                                            .form-group.row
                                                label.col-sm-2.col-form-label(for="staticYear") Letnik
                                                .col-sm-10
                                                    input#staticYear.form-control(type="text" readonly="" value="token.year")
                                            .form-group.row
                                                label.col-sm-2.col-form-label(for="staticEnrolType") Vrsta vpisa
                                                .col-sm-10
                                                    input#staticEnrolType.form-control(type="text" readonly="" value="token.enrolType")
                                            .form-group.row
                                                label.col-sm-2.col-form-label(for="staticStudyType") Način študija
                                                .col-sm-10
                                                    input#staticStudyType.form-control(type="text" readonly="" value="token.studyType")
                                            .form-group.row
                                                label.col-sm-2.col-form-label(for="staticStudyForm") Oblika študija?
                                                .col-sm-10
                                                    input#staticStudyForm.form-control(type="text" readonly="" value="e-študij")
                                        button.btn-primary.btn(type="submit") Naprej
        // SCRIPTS
        // JQuery
        script(type='text/javascript', src='../js/jquery-3.2.1.min.js')
        // for generating export tables csv, pdf
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js")
        script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.min.js")
        script(type='text/javascript', src='../js/personal/table2pdf.js')
        script(type='text/javascript', src='../js/table2csv.js')
        // Bootstrap tooltips
        script(type='text/javascript', src='../js/popper.min.js')
        // Bootstrap core JavaScript
        script(type='text/javascript', src='../js/bootstrap.min.js')
        // MDB core JavaScript
        script(type='text/javascript', src='../js/mdb.min.js')
        //search
        script(type='text/javascript', src='../js/enrol/prepare.js')
